<div class="span7">
  <h2><%= @canal.nome %></h2>

  <video id="streaming" class="video-js vjs-default-skin" controls
    autoplay width="540" height="335" data-setup="{}">
    <source src="<%= @canal.streamming.uri %>" type='video/ogg; codecs="theora, vorbis"'>
    <applet code="com.fluendo.player.Cortado.class" archive="http://theora.org/cortado.jar" width="352" height="288">
      <param name="url" value="<%= @canal.streamming.uri %>"/> 
    </applet>
  </video>

  <div class="info">
    <div class="meta">
      <div class="telespectadores">
      </div>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc3d12a73816701"></script>
      <!-- AddThis Button END -->
    </div>
  </div>

  <% if @canal.descricao.present? %>
    <div class="desc">
      <%= raw @canal.descricao %>
    </div>
  <% end %>
</div>

<div class="span5">
  <%= form_for(Mensagem.new, remote: true) do |f| %>
    <div class="msgs">
      <ul id="chat">
        <% if @canal.mensagens.any? %>
          <%= render @mensagens %>
        <% else %>
          <li>Nenhuma mensagem enviada.</li>
        <% end %>
      </ul>
    </div>

    <div class="actions">
      <%= f.text_field :content, placeholder: @placeholder, maxlength: 255 %>
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '<%= @canal.twitter.busca %>',
      interval: 30000,
      title: '<%= @canal.twitter.titulo %>',
      subject: '<%= @canal.twitter.descricao %>',
      width: 'auto',
      height: <%= @canal.twitter.altura %>,
      theme: {
        shell: {
          background: '#8ec1da',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: true,
        loop: true,
        live: true,
        behavior: 'all'
      }
    }).render().start();
  </script>
</div>

<% content_for :script { subscribe_to "/#{@canal.id}/mensagens/new" } %>
