<div class="span7">
  <h2><%= @canal.nome %></h2>

  <video id="streaming" class="video-js vjs-default-skin" controls
    autoplay width="540" height="335" data-setup="{}">
    <source src="<%= @canal.streamming.uri %>" type='video/ogg; codecs="theora, vorbis"'>
  </video>

  <div class="info">
    <div class="meta">
      <div class="telespectadores">
      </div>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc3d12a73816701"></script>
      <!-- AddThis Button END -->
    </div>
  </div>

  <% if @canal.descricao.present? %>
    <div class="desc">
      <%= @canal.descricao %>
    </div>
  <% end %>

  <div class="programacao">
    <h3>Programação</h3>
    <h4>15 de junho (16h00) - RODA DE CONVERSA - Processos educativos, comunicação e meio ambiente</h4>
    <ul>
      <li>Exposição de conceitos, ações e projetos estratégicos de comunicação e educação ambiental</li>
      <li>
        <h5>Convidados:</h5>
        <ul>
          <li>Eduardo Strucchi (Vídeo Ambiental)</li>
          <li>Pedro Jatobá (Rede Colaborativa iTEIA)</li>
          <li>Fabiana Ganem (Departamento de Educação Ambiental/Ministério do Meio Ambiente)</li>
        </ul>
      </li>
    </ul>

    <h4>16 de junho (16h00) - Lixo eletrônico: impactos e transformações</h4>
    <ul>
      <li>As questões relativas à gestão integrada e gerenciamento do lixo eletrônico; as responsabilidades de empresas e do poder público; a legislação; os movimentos, projetos e programas que desenvolvem ações para minimizar os impactos causados por esses resíduos ao ambiente.</li>
      <li>
        <h5>Convidados:</h5>
        <ul>
          <li>Eloir José Coordenador do Centro Social Marista Felipe Andueza - Consultor Ambiental especializado em resíduos eletrônicos</li>
          <li>Andréa Caresteada - Técnica especialista do Departamento de Educação Ambiental, do Ministério do Meio Ambiente.</li>
          <li>Rodolfo Avelino – Coletivo Digital</li>
          <li>Dênis Rodrigues (moderador) - Coordenador de Formação Secretaria de Inclusão Digital/ Ministério das Comunicações</li>
        </ul>
      </li>
    </ul>

    <h4>17 de junho (16h00) - Apropriação tecnológica na perspectiva dos povos e comunidades tradicionais</h4>
    <ul>
      <li>Experiências e relatos de comunidades tradicionais que atuam com comunicação e inclusão digital para uma articulação em rede, compartilhando suas trajetórias e ações para um desenvolvimento local e sustentável.</li>
      <li>
        <h5>Convidados:</h5>
        <ul>
          <li>Antonio Carlos (TC) - Representante da Rede Mocambos http://www.mocambos.org/</li>
          <li>Mãe Beth de Oxum – Liderança tradicional de matriz africana</li>
          <li>Anapuaka Tupinambá - Rede de Cultura Digital Indígena</li>
          <li>Jair Kuikuro - Projeto Hiper Mulheres</li>
          <li>Maria do Socorro Guterres (moderadora) - Gerente de Projetos Secretaria de Comunidades Tradicionais</li>
          <li>Secretaria de Políticas de Promoção de Igualdade Racial - SEPPIR</li>
        </ul>
      </li>
    </ul>

    <h4>18 de junho (16h00) - RODA DE CONVERSA - O projeto Territórios Digitais contado pelos assentados</h4>
    <ul>
      <li>Uma experiência de sucesso da juventude no meio rural através de histórias de protagonismo na Casa Digital de Santana-CE. A Casa é um dos telecentros que integra o Programa Territórios da Cidadania do Ministério do Desenvolvimento Agrário- MDA em parceria com o Ministério das Comunicações.</li>
      <li>
        <h5>Convidados:</h5>
        <ul>
          <li>José Filho - Representante do Assentamento de Santana – CE</li>
          <li>Geilsa Roberto da Paixão - Comunidade Quilombola Mituasú - PB</li>
        </ul>
      </li>
    </ul>

    <h4>19 de junho (16h00) - RODA DE CONVERSA  - Juventude Rural - Inclusão Digital e Sustentabilidade</h4>
    <ul>
      <li>A construção de políticas públicas que garantam às populações rurais formas de acesso às tecnologias de informação e comunicação (TICs), fomentando desenvolvimento sustentável e promovendo a permanência da juventude no campo.</li>
      <li>
        <h5>Convidados:</h5>
        <ul>
          <li>Severine Macedo - Secretaria Nacional de Juventude</li>
          <li>Ana Carolina Silva - Assessora de Juventude do Gabinete do Ministério do Desenvolvimento Agrário</li>
          <li>Aroldo Magno de Oliveira - Projeto do Edital Juventude Rural (UFF)</li>
          <li>Raul de Souza Amorim - Coordenador de Juventude do Movimento Sem Terra</li>
          <li>Cristiano Passos (moderador) – Assessor da Secretaria de Inclusão Digital do Ministério das Comunicações</li>
        </ul>
      </li>
    </ul>

    <h4>21 de junho (11h00) - RODA DE CONVERSA  - Povos e Comunidades Tradicionais - Identidade e Território</h4>
    <ul>
      <li>O território como elemento constitutivo das comunidades tradicionais. Diálogos para a sustentabilidade.</li>
      <li>
        <h5>Convidados:</h5>
        <ul>
          <li>Aderbal Moreira Costa</li>
          <li>Aniceto Catanhede Filho</li>
          <li>Jayro Pereira de Jesus</li>
        </ul>
      </li>
    </ul>

    <h4>22 de junho (11h00) - EVENTO - Lançamento de livro e roda de conversa ´Ancestralidade africana no Brasil´</h4>
    <ul>
      <li>“Contos e Crônicas do Mestre Tolomi: África Viva no Brasil" - após o lançamento haverá uma roda de conversa com o autor, Pai Paulo.</li>
    </ul>

    <h4>22 de junho (16h00) - EVENTO -  Oralidade e Web (as tradições conectadas via internet)</h4>
    <ul>
      <li>Como a internet tem e pode contribuir para o fortalecimento das tradições orais. Com Mãe Beata de Iemanjá, Makota Valdina e Pai Paulo.</li>
    </ul>
  </div>
</div>

<div class="span5">
  <%= form_for(Mensagem.new, remote: true) do |f| %>
    <div class="msgs">
      <ul id="chat">
        <% if @canal.mensagens.any? %>
          <%= render @mensagens %>
        <% else %>
          <li>Nenhuma mensagem enviada.</li>
        <% end %>
      </ul>
    </div>

    <div class="actions">
      <%= f.text_field :content, placeholder: @placeholder, maxlength: 255 %>
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#rio20 OR #riomais20',
      interval: 30000,
      title: 'Rio + 20',
      subject: 'Programação MC em Inclusão Digital',
      width: 'auto',
      height: 710,
      theme: {
        shell: {
          background: '#8ec1da',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: true,
        loop: true,
        live: true,
        behavior: 'all'
      }
    }).render().start();
  </script>
</div>
