<div class="span7">
  <h2><%= @canal.nome %></h2>

  <video id="streaming" class="video-js vjs-default-skin" controls
    autoplay width="540" height="335" data-setup="{}">
    <source src="<%= @canal.streamming.uri %>" type='video/ogg; codecs="theora, vorbis"'>
  </video>

  <div class="info">
    <div class="meta">
      <div class="telespectadores">
      </div>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc3d12a73816701"></script>
      <!-- AddThis Button END -->
    </div>
  </div>

  <% if @canal.descricao.present? %>
    <div class="desc">
      <%= @canal.descricao %>
    </div>
  <% end %>

  <div class="programacao">
    <h4>29 de maio (8h30):</h4>
    <ul>
      <li>
        <h5>Coordenação:</h5>
        Deputada Federal Dalva Figueiredo
      </li>
      <li>
        <h5>Palestrantes:</h5>
        <ul>
          <li>Sérgio Lopes - Secretário Extraordinário de Regularização 
          Fundiária na Amazônia Legal</li>
          <li>Raimunda Monteiro - Professora da Universidade Federal 
          do Oeste Paraense</li>
          <li>Joenia Wapixana - Líder indígena</li>
          <li>Vanessa Grazziotin - Senadora</li>
        </ul>
      </li>
    </ul>

    <h4>29 de maio (15h00) - Presença do estado na amazônia</h4>
    <ul>
      <li>
        <h5>Coordenação:</h5>
        Maria Augusta Assirati - Secretaria-Geral
      </li>
      <li>
        <h5>Palestrantes:</h5>
        <ul>
          <li>Maurício Muniz - Secretário do Programa de Aceleração 
          do Crescimento - MPOG</li>
          <li>Marilene Correia - Professora da Universidade Federal do 
          Amazonas</li>
          <li>Atanagildo Matos - Conselho Nacional das Populações
          Extrativistas</li>
          <li>Jorge Viana - Senador</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="span5">
  <%= form_for(Mensagem.new, remote: true) do |f| %>
    <div class="msgs">
      <ul id="chat">
        <% if @canal.mensagens.any? %>
          <%= render @mensagens %>
        <% else %>
          <li>Nenhuma mensagem enviada.</li>
        <% end %>
      </ul>
    </div>

    <div class="actions">
      <%= f.text_field :content, placeholder: @placeholder, maxlength: 255 %>
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#rio20',
      interval: 30000,
      title: 'Rio + 20',
      subject: 'Amazônia em Pauta',
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#8ec1da',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        behavior: 'default'
      }
    }).render().start();
  </script>
</div>
