<div class="span7">
  <h1><%= @canal.nome %></h1>

  <video id="streaming" class="video-js vjs-default-skin" controls
    autoplay width="540" height="335" data-setup="{}">
    <source src="<%= @canal.streamming.uri %>" type='video/ogg; codecs="theora, vorbis"'>
  </video>

  <div class="info">
    <div class="usuarios-online"><i class="icon-user"></i> <span>1</span></div>
    <div class="visualizacoes"><i class="icon-eye-open"></i> <span>1</span></div>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc3d12a73816701"></script>
    <!-- AddThis Button END -->

    <div class="desc">
      <%= @canal.descricao %>
    </div>
  </div>
</div>

<div class="span5">
  <%= form_for(Mensagem.new, remote: true) do |f| %>
    <div class="msgs">
      <% if @canal.mensagens.any? %>
        <ul id="chat">
          <%= render @mensagens %>
        </ul>
      <% else %>
        <p>Nenhuma mensagem enviada.</p>
      <% end %>
    </div>

    <div class="actions">
      <%= f.text_field :content, placeholder: @placeholder, maxlength: 255 %>
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
      <%= link_to 'Usuários', '#' %>
      <%= link_to 'Configurações', '#' %>
    </div>
  <% end %>
</div>
