<div class="span7">
  <h2><%= @canal.nome %></h2>

  <video id="streaming" class="video-js vjs-default-skin" controls
    autoplay width="540" height="335" data-setup="{}">
    <source src="<%= @canal.streamming.uri %>" type='video/ogg; codecs="theora, vorbis"'>
  </video>

  <div class="info">
    <div class="meta">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc3d12a73816701"></script>
      <!-- AddThis Button END -->
    </div>
  </div>

  <% if @canal.descricao.present? %>
    <div class="desc">
      <%= @canal.descricao %>
    </div>
  <% end %>
</div>

<div class="span5">
  <%= form_for(Mensagem.new, remote: true) do |f| %>
    <div class="msgs">
      <ul id="chat">
        <% if @canal.mensagens.any? %>
          <%= render @mensagens %>
        <% else %>
          <li>Nenhuma mensagem enviada.</li>
        <% end %>
      </ul>
    </div>

    <div class="actions">
      <%= f.text_field :content, placeholder: @placeholder, maxlength: 255 %>
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
