<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @canal.path %>
</p>

<p>
  <b>Nome:</b>
  <%= @canal.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @canal.descricao %>
</p>


<%= link_to 'Edit', edit_canal_path(@canal) %> |
<%= link_to 'Back', canais_path %>
